<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css?{% now "U" %}">
    <link rel="stylesheet" type="text/css" href="/static/css/style2.css?{% now "U" %}">
	<link href='http://fonts.googleapis.com/css?family=Lora|Satisfy:100,300,400,700,900' rel='stylesheet' type='text/css'>
	<link rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgo=">
	<title>Manage Events</title>
	<style>
		table, th, td {
		  border:1px solid black;
		}
		.button {
		border: none;
		color: rgb(255, 254, 254);
		padding: 10px 20px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin-left: 42%;
		transition-duration: 0.4s;
		cursor: pointer;
	  }
	

	  .button1 {
		background-color: #4c5baf;
		color: rgb(255, 255, 255);
		border: 2px solid #534caf;
	  }
	  
	  .button1:hover{
		background-color: #3d3888;
		color: white;
		box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
	  }
	  #content{
		width:100%;
		background-color: rgb(210, 211, 210); 
		padding: 2%;
		margin-top: 1%;
		margin-bottom: 1%;
		display: none;
	  }
	  </style>

	
</head>

<body>

    <div class="topnav1">
        <a href="{% url 'admin_profile' %}">Profile</a>
        <a class="active" href="#">Manage Events</a>
    </div>

	
	<h2 class="heading-secondary2">
		<div class="u-align-center u-margin-bottom-big">
			Dashboard
		</div>
	</h2>
	{% for value in dashboard_dict.values %}
	<div class="amenities3-section">
		<div class="row">
			<div class="col-1-of-4">
				<h3 class="heading-tertiary u-margin-bottom-small">
					Total Event
				</h3>
				<p class="paragraph">
					Count : {{value.0}} 
				</p>
			</div>
			<div class="col-1-of-4">
				<h3 class="heading-tertiary u-margin-bottom-small">
					Event for ownself
				</h3>
				<p class="paragraph">
					Count : {{value.1}} 
				</p>
			</div>
			<div class="col-1-of-4">
				<h3 class="heading-tertiary u-margin-bottom-small">
					Event for family
				</h3>
				<p class="paragraph">
					Count : {{value.2}} 
				</p>
			</div>
			<div class="col-1-of-4">
				<h3 class="heading-tertiary u-margin-bottom-small">
					Event for people
				</h3>
				<p class="paragraph">
					Count : {{value.3}} 
				</p>
			</div>
		</div>
	</div>
	{% endfor %}
	<br><br><br><br>
	<h2 class="heading-secondary2">
		<div class="u-align-center u-margin-bottom-big">
			Management &nbsp; Section
		</div>
	</h2>
	<div class="row"><button class= 'button button1' id ="show" onclick="myFunction()"> Manage Events</button></div>

	
	<div id = 'content'>
		{% for value in event_database_dict.values %}
			<div class="amenities3-section">
				<form method="post" action="#">
					<div class="row">
						<div class="col-1-of-4">
							<h3 class="heading-tertiary u-margin-bottom-small">
								Event ID
							</h3>
							<p class="paragraph">
								{{value.0}} 
							</p>
						</div>
						<div class="col-1-of-4">
							<h3 class="heading-tertiary u-margin-bottom-small">
								Event Name
							</h3>
							<p class="paragraph">
								{{value.1}}
							</p>
						</div>

						<div class="col-1-of-4">
							<h3 class="heading-tertiary u-margin-bottom-small">
								Location
							</h3>
							<p class="paragraph">
								{{value.2}} 
							</p>
						</div>
						<div class="col-1-of-4">
							<h3 class="heading-tertiary u-margin-bottom-small">
								Budget
							</h3>
							<p class="paragraph">
								{{value.3}} BDT
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-1-of-4">
							<h3 class="heading-tertiary u-margin-bottom-small">
								Created By
							</h3>
							<p class="paragraph">
								{{value.4}} 
							</p>
						</div>
						<div class="col-1-of-4">
							<h3 class="heading-tertiary u-margin-bottom-small">
								Current Fund
							</h3>
							<p class="paragraph">
								{{value.5}} BDT
							</p>
						</div>
						<div class="col-1-of-4">
							<h3 class="heading-tertiary u-margin-bottom-small">
								Shop
							</h3>
							<p class="paragraph">
								{{value.6}} 
							</p>
						</div>
						{% if value.3 == value.5 %}
							<div class="col-1-of-4">
								<h6 class="heading-tertiary u-margin-bottom-small">
									[Archived]
								</h6>

							</div>
						{% endif %}
					</div>
					{% if value.3 != value.5 %}
						<div class="row">
							&nbsp;&nbsp;&nbsp;
							<div class="col-1-of-4">
								<a href="{% url 'updateEvent' value.0 %}" class="btn-rectangular4">Edit</a>
							</div>
							{% if value.5 == 0 %}
								<div class="col-4-of-4">
									<a href="{% url 'deleteEvent' value.0 %}" class="btn-rectangular4">Delete</a>
								</div>
							{% endif %}
						</div>					
					{% endif %}
				</form>
			</div>
		{% endfor %}
	</div>
	
<script>
	function myFunction() {
		var x = document.getElementById("content");
		if (x.style.display == "none") {
			x.style.display = "block";
		} else {
			x.style.display = "none";
		}
	}
</script>

</body>
</html>
