<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css?{% now "U" %}">
    <link rel="stylesheet" type="text/css" href="/static/css/style2.css?{% now "U" %}">
	<link href='http://fonts.googleapis.com/css?family=Lora|Satisfy:100,300,400,700,900' rel='stylesheet' type='text/css'>
	<link rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgo=">
	<title>Profile[Organizor]</title>
</head>

<body>
    <div class="topnav1">
        <a href="{% url 'home' %}">Logout</a>
        <a class="active" href='#'>Profile</a>
    </div>
	<div class="about-section">
		<h2 class="heading-secondary">
			<div class="u-align-center u-margin-bottom-big">
				Welcome to our family As a Organizor!
			</div>
		</h2>
		<div class="row">
			<div class="col-1-of-2">
				{% for o in checker %}
					<h3 class="heading-tertiary u-margin-bottom-small">
						Name
					</h3>
					<p class="paragraph">
						{{o.FIRST_NAME}}
						{{o.LAST_NAME}}
					</p>
					<h3 class="heading-tertiary u-margin-bottom-small">
						Email
					</h3>
					<p class="paragraph">
						{{o.EMAIL}} 
					</p>
					<h3 class="heading-tertiary u-margin-bottom-small">
						Phone Number
					</h3>
					<p class="paragraph">
						{{o.CONTACT}} 
					</p>
					<h3 class="heading-tertiary u-margin-bottom-small">
						NID
					</h3>
					<p class="paragraph">
						{{o.NID}} 
					</p>
				{% endfor %}
			</div>
            <div class="col-1-of-3">
				<div class="row"><br></div>
				<div class="row">
					<a href="{% url 'create_event' %}" class="btn-rectangular">create event &rarr;</a>
				</div>
				<div class="row">
					<a href="{% url 'event_details_o' %}" class="btn-rectangular">see all events &rarr;</a>
				</div>				
			</div>   
		</div>
	</div>
    
</body>
</html>