<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/static/css/style2.css?{% now "U" %}">
	<link href='http://fonts.googleapis.com/css?family=Lora|Satisfy:100,300,400,700,900' rel='stylesheet' type='text/css'>
	<link rel="shortcut icon" href="#">
	<title>Item Packages</title>
</head>
<body>
	<div class="topnav1">
		<a href="{% url 'organizor_profile' %}">Back to Profile</a>
		<a class="active" href="#">Packages</a>
	</div>
	<div class="package-section">
		<h2 class="heading-secondary">
			<div class="u-align-center u-margin-bottom-big">
				<ul>About &nbsp; Item &nbsp; Packages</ul>
			</div>
		</h2>
		<div class="row">
			<div class="col-1-of-3">
				<div class="plan">
					<div class="plan__side plan__side--front">
						<div class="plan__image plan__image--1">
							&emsp;
						</div>
						<h4 class="plan__heading plan__heading--1"> Package SUCHONA
						</h4>
						<div class="plan__bullets">
							<ul>
								<li>Its designed for disaster affected people</li>
                                <li>Packaged with- <br><br> Puffed & Flattened rice, Drinkable water, Biscuit, Oral saline, Medicine  </li>
                                <li>Can be customized according to organizor's budget and needs. <br><br> [Contact us for Details]</li>
                                <li>499 BDT cost for per standard package.</li>
							</ul>
						</div>
					</div>
					<div class="plan__side plan__side--back plan__side--back-1"> 
						<div class="plan__button">
							<div class="plan__cost-box">
								<p class="plan__cost-servedBy">Served By</p>
								<p class="plan__cost-value">Aagora</p>
								<p class="plan__cost-value">Shwapno</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-1-of-3">
				<div class="plan">
					<div class="plan__side plan__side--front">
						<div class="plan__image plan__image--2">
							&emsp;
						</div>
						<h4 class="plan__heading plan__heading--2"> Package HASHIMUKH
						</h4>
						<div class="plan__bullets">
							<ul>
								<li>Its designed for helpless people</li>
                                <li>Packaged with- <br><br> Rice, Lentil, Oil, Spices, Potato, Onion, Salt, Sugar, Flour</li>
                                <li>Can be customized according to organizor's budget and needs. <br><br> [Contact us for Details]</li>
                                <li>999 BDT cost for per standard package.</li>
							</ul>
						</div> 
					</div>
					<div class="plan__side plan__side--back plan__side--back-2"> 
						<div class="plan__button">
							<div class="plan__cost-box">
								<p class="plan__cost-servedBy">Served By</p>
								<p class="plan__cost-value">Aagora</p>
								<p class="plan__cost-value">Shwapno</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-1-of-3">
				<div class="plan">
					<div class="plan__side plan__side--front">
						<div class="plan__image plan__image--3">
							&emsp;
						</div>
						<h4 class="plan__heading plan__heading--3"> Package HAPPYLIFE
						</h4>
						<div class="plan__bullets">
							<ul>
								<br><br><br>
								<li>Its designed for people who need medical support.</li>
								<br>
                                <li> Support may necessary medicine and diagnostic.</li>
								<br>
                                <li>Costing is depending on organizor's necessity.</li>
                                
							</ul>
						</div> 
					</div>
					<div class="plan__side plan__side--back plan__side--back-3"> 
						<div class="plan__button">
							<div class="plan__cost-box">
								<p class="plan__cost-servedBy">Served By</p>
								<p class="plan__cost-value">Lazz Pharma</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>